body {
  margin: 0;
  padding: 0;
  background-color: #f7f4f5;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
  color: #ff069f;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}
nav {
  background-color: #ff00aa;
  padding: 10px 0;
  margin-bottom: 20px;
}

nav a {
    color: rgb(252, 247, 250);
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
h2 {
    margin-top: 40px;
}

div p {
    background: rgb(255, 254, 255);
    padding: 10px;
    margin: 10px auto;
    width: 250px;
    border-radius: 5px;
}
form {
    margin-top: 30px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #ff7a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.produk {
  margin: 15px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  display: inline-block;
}

.produk img {
  border-radius: 8px;
}
/* GRID PRODUK */
.produk-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.produk {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.produk img {
  width: 100%;
  border-radius: 8px;
}

.produk button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.produk button:hover {
  background-color: darkorange;
}
.hero {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.hero p {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

.hero button {
  background-color: orange;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background-color: darkorange;
}

.home-produk {
  padding: 30px 20px;
  background-color: #ffffff;
  text-align: center;
}

.home-produk h2 {
  margin-bottom: 20px;
}

.lihat-semua {
  margin-top: 20px;
}
.produk h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  .produk h3 {
  text-align: center;
}
}

.harga {
  font-weight: bold;
  color: #e67e22;
  margin: 5px 0 10px;
  text-align: center;
  width: auto;
}

.produk a {
  text-decoration: none;
}

.produk a h3 {
  color: black;
}
.hero {
  padding: 60px 20px;
}

.hero-text {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}
.hero p {
  background: none !important;
  padding: 0 !important;
  margin: 10px 0 0 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  max-width: none !important;
}






